body{
    background: #262524;
    color: white;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.weather-container{
    margin-top: 25px;
    display: none;
    background-color: gray;
    max-width: 550px;
    justify-content: space-between;
    border-radius: 15px;
}
.weather-block-row{
    display: flex;
}
.weather-block-col{

}